name: Defect and automation lifecycle

on:
  workflow_dispatch:
  schedule:
    - cron: '0 8 * * *'

jobs:
  integrity-check:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install Dependencies
      run: |
        pip install -r requirements.txt

    - name: Run Integrity System
     
      env:
        JIRA_TOKEN: ${{ secrets.JIRA_TOKEN }}
        JIRA_URL: ${{ secrets.JIRA_URL }}
        JIRA_EMAIL: ${{ secrets.JIRA_EMAIL }}
        PROJECT_KEY: ${{ secrets.PROJECT_KEY }}
      run: python master_defect_system.py
